@keyframes jumping {
    0% {
        top: 3px;
    }

    50% {
        top: -3px;
    }

    100% {
        top: 3px;
    }
}


@media only screen and (min-width: 992px) {
    .facilty-cont-box {
        display: flex;
    }

    .facilty-cont-box .icon {
        float: left;
        width: 22%;
    }

    .facilty-cont-box .icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
    }

    .facilty-cont-box .cont {
        padding: 0 0 0 15px;
        float: right;
        width: 78%;
    }

    .facilty-cont-box .cont h4 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .d-table h1 {
        line-height: 70px;
        font-size: 60px;
    }

    .btn-1 {
        font-size: 12px;
        padding: 12px 25px;
    }

    .facilty-cont-box .icon {
        float: left;
        width: 22%;
    }

    .facilty-cont-box .icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
    }

    .facilty-cont-box .cont {
        padding: 0 0 0 15px;
        float: right;
        width: 78%;
    }

    .facilty-cont-box .cont h4 {
        font-size: 25px;
        line-height: 35px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .d-table h1 {
        line-height: 58px;
        font-size: 47px;
    }

    .newsletter-form {
        margin: 0 40px;
    }

    .why-choose-heading h2 {
        font-size: 44px;
        line-height: 54px;
    }

    .facilty-cont-box .icon {
        float: left;
    }

    .facilty-cont-box .icon i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
    }

    .facilty-cont-box .cont {
        padding: 0 0 0 15px;
        float: right;
    }

    .facilty-cont-box .cont h4 {
        font-size: 26px;
        line-height: 36px;
    }

}

@media (min-width: 480px) and (max-width: 767px) {

    .facilty-cont-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .facilty-cont-box .icon {
        width: 100%;
        margin-bottom: 10px;
    }

    .facilty-cont-box .cont {
        width: 100%;
    }

    .facilty-cont-box .cont h4 {
        font-size: 24px;
        line-height: 34px;
    }

    .facilty-cont-box .cont p {
        font-size: 16px;
        line-height: 26px
    }

}

@media (min-width: 360px) and (max-width: 479px) {

    .d-table {
        text-align: center;
    }

    .d-table h1 {
        line-height: 55px;
        font-size: 45px;
    }

    .newsletter-form {
        margin: 0 20px;
    }

    .why-choose-heading {
        margin: 60px 0 40px 0;
    }

    .why-choose-heading h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .why-choose-heading h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .why-choose-heading p {
        font-size: 16px;
        line-height: 26px;
    }

    .why-choose-cont {
        margin-left: 0;
    }

    .facilty-cont-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .facilty-cont-box .icon {
        width: 100%;
        margin-bottom: 10px;
    }

    .facilty-cont-box .cont {
        width: 100%;
    }

    .facilty-cont-box .cont h4 {
        font-size: 24px;
        line-height: 34px;
    }

    .facilty-cont-box .cont p {
        font-size: 16px;
        line-height: 26px
    }


}

@media (min-width: 320px) and (max-width: 359px) {

    .d-table {
        text-align: center;
    }

    .d-table h1 {
        line-height: 50px;
        font-size: 43px;
    }

    .d-table p {
        font-size: 18px;
        line-height: 28px;
    }

    .newsletter-form {
        margin: 0 10px;
    }

    .newsletter-form input {
        height: 55px;
    }

    .newsletter-form button {
        height: 55px;
        padding: 0 20px;
    }

    .why-choose-heading {
        margin: 60px 0 40px 0;
    }

    .why-choose-heading h6 {
        font-size: 14px;
        line-height: 24px;
    }

    .why-choose-heading h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .why-choose-heading p {
        font-size: 16px;
        line-height: 26px;
    }

    .why-choose-cont {
        margin-left: 0;
    }

    .why-choose-box .icon {
        width: 12%;
    }

    .why-choose-box .cont {
        padding-left: 10px;
        width: 72%;
    }

    .facilities-area {
        padding: 80px 0 20px;
    }

    .facilty-cont-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .facilty-cont-box .icon {
        width: 100%;
        margin-bottom: 10px;
    }

    .facilty-cont-box .cont {
        width: 100%;
    }

    .facilty-cont-box .cont h4 {
        font-size: 24px;
        line-height: 34px;
    }

    .facilty-cont-box .cont p {
        font-size: 16px;
        line-height: 26px
    }

}